body{
    display: flex;
}
.Main{
    width: 90%;
}
.droite{
    width: 30%;
    flex-basis: row;
    border-left: 1px;
}
.droite p {
    text-align: justify;
}
.droite p .gras{
    font-weight:bold;
}

.photo{
    width:60%;
    height:auto;
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    -o-border-radius:50px;
}
 
.photo img{
    width:100%;
    height:auto;
}
